/* Estilos generales */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}

body,
button,
input {
  font:1em Hind,sans-serif, "Arial Black" ;
  line-height: 1.5em;
}

body,
input {
  color: #171717;
}

body {
  display: flex;
  background: #E0E0E0;
  height: 100vh;
}

.container-block {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border-radius: 5px;
  padding: 12px 8px;
  text-align: left;
  cursor: pointer;
}

/* Nuevo div padre con borde coloreado */
.parent-block {
  width: 100%;
  border: 4px solid #ff7f00;
  border-radius: 8px;
  padding: 20px;
}

/* .client-block y .row.text-center con width 100% */
.block1 {
  display: inline-block;
  width: 47px;
  text-align: center;
}

.block1 i {
  transition: all 0.4s ease-in;
  font-size: 31px;
  color: #6A0DAD;
}

#item:focus .block1 i,
#item:active .block1 i,
#item:hover .block1 i {
  color: black;
}


/* Client Block */
#client-container {
  margin-top: 50px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #6A0DAD;
}

.left-section, .right-section {
  border-right: 2px solid black;
  padding: 10px 20px;
}

.right-section {
  border-right: none;
}

.label {
  font-weight: bold;
  color: #6A0DAD;
  text-align: right;
}

.row {
  margin-bottom: 10px;
}

/* Search Form */
.search-block {
  width: auto;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-form {
  position: absolute;
  top: 0;
  left: 34%;
  padding: 15px;
  border-radius: 10px;
  width: 350px;
  height: 40px;
  box-shadow: 0 6px 8px rgba(236, 75, 7, 0.15);
  background: #fff;
  transition: all 0.3s ease;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(236, 75, 7, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: black;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}

.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background: #929aa3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all 0.2s ease-in-out;
}

.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 4px solid #929aa3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.search-option div:hover span {
  opacity: 1;
  top: -21px;
}

.search-option div label {
  display: block;
  cursor: pointer;
}

.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.search-option div:hover svg {
  opacity: 1;
}

.search-option div input:checked+label span {
  background: #e24040;
}

.search-option div input:checked+label span::after {
  border-top-color: #e24040;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.search-button i {
  font-size: 20px;
  color: #6A0DAD;
}
.search-input::placeholder {
  color: #6A0DAD;
  opacity: 1;
}
.search-button:hover i {
  color: #6A0DAD;
}

/*DataTable*/
#dataTable-div {
  margin-top: 10px;
  background: #ffffff;
}
#example {
  background-color: #ffffff;  /* Fondo blanco */
}

.btn-primary{
  background-color: #6A0DAD;
  border-color: black;
}

.btn-primary:hover{
  background-color: black;
}

/* Media query */
@media (min-width: 992px) {
  .container {
    width: 1300px;
  }
}


.alert {
  background-color: #dff0d8;
  color: #3c763d;
  width: 90%; /* Ajustar el tamaño de la alerta */
  min-height: 70px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto; /* Centrar horizontalmente */
  text-align: center; /* Alinear el texto */
  position: absolute;
  top: 5%; /* Ajusta la distancia desde la parte superior */
  left: 50%;
  transform: translate(-50%, 0); /* Centrar horizontalmente con precisión */
  z-index: 1050; /* Debe estar encima del modal */
  display: block; /* Mostrar solo cuando sea necesario */
}
