<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/nice-select2.css" />
    <title>Ingreso de un dispositivo</title>
  </head>

  <body>
    <div class="container">
      <a href="../index.html">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-arrow-left"></i>
          </div>
        </div>
      </a>

      <form id="saveClient" class="form">
        <h2>Registrar Dispositivo</h2>
        <div class="form-control">
          <select id="searchable-select-client" class="wide">
            <option data-display="Select"></option>
          </select>
          <label for="client">
            <ul class="input-requirements">
              <li>Campo requerido</li>
            </ul>
            <input type="hidden" id="client" />
          </label>
        </div>

        <div class="form-control">
          <select id="searchable-select-device" class="wide">
            <option data-display="Select"></option>
          </select>
          <label for="device">
            <ul class="input-requirements">
              <li>Campo requerido</li>
            </ul>
            <input type="hidden" id="device" />
          </label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <script src="../../assets/js/nice-select2.js"></script>
    <script src="script.js"></script>
  </body>
</html>
