<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="style.css" />

    <!-- Foontawesome CSS -->
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
    <title>Hello World!</title>
  </head>

  <body>
    <div class="container">
      <div class="row text-center">
        <h2>Menu</h2>
        <div id="menu-box">
          <a href="clientForm/clientForm.html">
            <div id="item" class="col-sm-6 col-md-6">
              <div class="container-block">
                <div class="block1">
                  <i class="fa fa-address-card-o"></i>
                </div>
                <div class="block2">
                  <span>Regsitrar cliente</span>
                  <p>
                    Guardar información de un cliente que viene por primera vez
                  </p>
                </div>
              </div>
            </div>
          </a>

          <a href="benefitForm/benefitForm.html">
            <div id="item" class="col-sm-6 col-md-4">
              <div class="container-block">
                <div class="block1">
                  <i class="fa fa-keyboard-o"></i>
                </div>
                <div class="block2">
                  <span>Nueva prestación</span>
                  <p>Asigna un equipo a un cliente para arreglo</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <script
      src="../assets/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
