<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../assets/css/nice-select2.css" />
    <title>Ingreso de un dispositivo</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="alert" role="alert" id="alert" style="display: none"></div>
      <a href="../index.html">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-arrow-left"></i>
          </div>
        </div>
      </a>

      <form id="saveClient" class="form">
        <h2>Registrar Dispositivo</h2>
        <div class="row">
          <div class="col-sm-12" id="div-client">
            <div class="form-group" style="margin-bottom: 10px">
              <span>Buscar cliente</span>
              <select id="searchable-select-client" class="wide">
                <option data-display="Select"></option>
              </select>
              <input type="hidden" id="client" class="form-control"/>
              <ul class="input-requirements">
                <li>Campo requerido</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6" id="div-device">
            <div class="form-group" style="margin-bottom: 10px;">
              <span>Dispositivo</span>
              <input
                class="form-control"
                type="text"
                id="device"
                placeholder="Ingrese un dispositivo"
                maxlength="15"
              />
              <ul class="input-requirements">
                <li>Ej: g532m</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6" id="div-imei">
            <div class="form-group" style="margin-bottom: 10px;">
              <span>Imei</span>
              <input
                class="form-control"
                type="text"
                id="imei"
                placeholder="Ingrese un dispositivo"
                maxlength="15"
              />
              <ul class="input-requirements">
                <li>un Imei esta conformado por numeros</li>
                <li>un Imei esta conformado por 15 digitos</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6" id="div-replacement">
            <div class="form-group" style="margin-bottom: 10px;">
              <span>Partes a cambiar</span>
              <span class="replacement"></span>
              <input class="form-control" type="hidden" name="replacement" id="replacement"/>
            </div>
          </div>

          <div class="col-sm-6" id="div-entryDate">
            <div class="form-group" style="margin-bottom: 10px">
              <span>Fecha de entrada</span>
              <input
                class="form-control"
                type="text"
                id="entryDate"
                placeholder="Ingrese la fecha de entrada"
                maxlength="10"
              />
              <ul class="input-requirements">
                <li>dd/mm/yyyy</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6" id="div-mount">
            <div class="form-group" style="margin-bottom: 10px">
              <span>Monto</span>
              <input
                class="form-control"
                type="text"
                id="mount"
                placeholder="Ingrese el monto"
                maxlength="10"
              />
              <ul class="input-requirements">
                <li>Solo numeros</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-12" id="div-description">
            <div class="form-group" style="margin-bottom: 5px">
              <span>Describa el problema del telefono</span>
              <textarea
                class="form-control"
                id="text-area-description"
                name="description"
                cols="30"
                rows="5"
              ></textarea>
              <input type="hidden" name="description" id="description" />
              <ul class="input-requirements">
                <li>Campo requerido</li>
              </ul>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary form-control">
          Submit
        </button>
      </form>
    </div>
    <script src="../assets/js/inputsCustomValidation.js"></script>
    <script src="../../assets/js/bundle-multi-select.min.js"></script>
    <script src="../../assets/js/nice-select2.js"></script>
    <script src="script.js"></script>
    <script src="../app.js"></script>
  </body>
</html>
