<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="../../assets/css/nice-select2.css" />
  <!-- Moment.js -->
  <script type="text/javascript" src="../../../../node_modules/moment/min/moment.min.js"></script>
  <title>Ingreso de un dispositivo</title>
</head>

<body>
  <div class="container-fluid">
    <div class="alert" role="alert" id="alert" style="display: none"></div>
    <a href="../index.html">
      <div class="container-block">
        <div class="block1">
          <i class="fa fa-arrow-left"></i>
        </div>
      </div>
    </a>

    <form id="saveClient" class="form">
      <h2>Registrar Dispositivo</h2>
      <div class="row">
        <div class="col-sm-12" id="div-client">
          <div class="form-group" style="margin-bottom: 10px">
            <span>Buscar cliente</span>
            <select id="searchable-select-client" class="wide" placeholder="Seleccione una opción">
              <option data-display="Select"></option>
              <div>
                <button>a</button>
                <button>b</button>
              </div>
            </select>
            <input type="hidden" id="client" class="form-control" value="null" />
            <ul class="input-requirements">
              <li>Campo requerido</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6" id="div-device">
          <div class="form-group" style="margin-bottom: 10px">
            <span>Dispositivo</span>
            <input class="form-control" type="text" id="device" placeholder="Ingrese un dispositivo" maxlength="15" />
            <ul class="input-requirements">
              <li>Ej: g532m</li>
            </ul>
          </div>
        </div>

        <div class="inline">
          <div class="col-sm-6" id="div-brand">
            <div class="form-group" style="margin-bottom: 10px">
              <span>Marca del celular</span>
              <input class="form-control" type="text" id="brand" placeholder="Ingrese un dispositivo" maxlength="15">
              <select id="searchable-select-brand" class="right" placeholder="Seleccione una opción">
                <option data-display="Select"></option>
                <div>
                  <button>a</button>
                  <button>b</button>
                </div>
              </select>
              <ul class="input-requirements">
                <li>Campo requerido</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" id="div-imei">
              <div class="form-group" style="margin-left: 15px">
                <span>Imei</span>
                <input class="form-control" type="text" id="imei" placeholder="Ingrese el imei del dispositivo"
                  maxlength="15" />
                <ul class="input-requirements">
                  <li>un Imei esta conformado por numeros</li>
                  <li>un Imei esta conformado por 15 digitos</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6" id="div-date_received_phone">
              <div class="form-group" style="margin-right: 15px">
                <span>Fecha recibido</span>
                <input class="form-control" type="text" id="date_received_phone"
                  placeholder="Ingrese la fecha de recepcion del dispositivo" maxlength="10" />
                <ul class="input-requirements">
                  <li>YYYY/MM/DD</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="inline">
            <div class="col-sm-6" id="div-total_amount">
              <div class="form-group" style="margin-bottom: 10px">
                <span>Importe Total</span>
                <input class="form-control" type="text" id="total_amount"
                  placeholder="Ingrese el importe total del trabajo" maxlength="10" />
                <ul class="input-requirements">
                  <li>Solo numeros</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6" id="div-deposited_money">
              <div class="form-group" style="margin-bottom: 10px">
                <span>Deposito</span>
                <span></span>
                <input class="form-control" id="deposited_money" type="text"
                  placeholder="Ingrese la seña del cliente" />
                <ul class="input-requirements">
                  <li>Solo numeros</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12" id="div-problem">
            <div class="form-group" style="margin-bottom: 5px">
              <span>Describa el problema del telefono</span>
              <textarea id="text-area-problem" class="form-control" name="problem" cols="30" rows="5"></textarea>
              <input type="hidden" name="problem" id="problem" />
              <ul class="input-requirements">
                <li>Campo requerido</li>
              </ul>
            </div>
          </div>


          <button type="submit" class="btn btn-primary form-control">
            Submit
          </button>
    </form>
  </div>
  <!-- Insert this line above script imports  -->
  <script>
    if (typeof module === "object") {
      window.module = module;
      module = undefined;
    }
  </script>
  <script src="../app.js"></script>
  <script src="../../assets/js/jquery.js"></script>
  <script src="../assets/js/inputsCustomValidation.js"></script>
  <script src="../../assets/js/bundle-multi-select.min.js"></script>
  <script src="../../assets/js/nice-select2.js"></script>
  <script src="script.js"></script>
  <!-- Insert this line after script imports -->
  <script>
    if (window.module) module = window.module;
  </script>
</body>

</html>