<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="style.css" />
    <title>Ingreso de un dispositivo</title>
  </head>
  <body>
    <div class="container">
      <a href="../index.html">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-arrow-left"></i>
          </div>
        </div>
      </a>

      <form id="saveClient" class="form">
        <h2>Registrar Dispositivo</h2>
        <div class="form-control">
          <label for="modelo">
            <span>Modelo</span>
            <input
              type="text"
              id="modelo"
              placeholder="Ingrese el modelo del dispositivo"
              maxlength="15"
            />
            <ul class="input-requirements">
              <li>Un modelo solo contiene letras y numeros</li>
              <!-- <li>Un dni solo tiene numeros</li> -->
            </ul>
          </label>
        </div>
        <div class="form-control">
          <label for="marca">
            <span>Marca </span>
            <input
              type="text"
              id="marca"
              placeholder="Ingrese la marca del dispositivo"
              maxlength="15"
            />
            <ul class="input-requirements">
              <li>Una marca solo contiene letras</li>
            </ul>
          </label>
        </div>
        <div class="form-control">
          <label for="nombre"
            ><span>Nombre</span>
            <input
              type="text"
              id="nombre"
              placeholder="Ingrese el nombre del dispositivo"
              maxlength="15"
            />
            <ul class="input-requirements">
              <li>Un nombre solo contiene letras</li>
            </ul>
          </label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>
